/* You can add global styles to this file, and also import other style files */
@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";
@import '../node_modules/@swimlane/ngx-datatable/index.css';
@import '../node_modules/@swimlane/ngx-datatable/themes/material.css';
@import '../node_modules/@swimlane/ngx-datatable/assets//icons.css';
@import 'assets/css/style.default.css';
.wide{
  width: 100%;

}

.ng-busy {
  z-index: 9999;
}
.disabled{
  cursor: not-allowed;

}
